@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700&family=Raleway:ital,wght@0,300;0,400;0,600;0,700;0,800;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
  list-style: none;
  color: #332424;
}

.headshot img {
  width: 100%;
  border-radius: 12px;
}

.headshot {
  margin: 120px 60px 60px;
}

.top-s {
  background-color: #f6f3ec;
  display: flex;
  padding: 60px;
  gap: 6px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.top-s h1 {
  font-size: 66px;
  text-align: center;
  letter-spacing: -2.5px;
  font-weight: 600;
  line-height: 1;
}

.top-s p {
  font-size: 24px;
  font-weight: 100;
}

.about-me,
.projects,
footer {
  padding: 60px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.container {
  width: 350px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: grid;
  gap: 8px;
  padding: 8px 2px;
}

input,
select {
  box-sizing: border-box;
  width: 100%;
  padding: 4px 6px;
  border: 1px solid black;
  border-radius: 2px;
}

fieldset {
  padding: 32px 18px;
  background-color: #eeece7;
}

button {
  border-radius: 18px;
  border: none;
  background-color: black;
  color: white;
  padding: 6px 18px;
  margin: 8px 0 0 0;
}

button:hover {
  background-color: #383838;
  cursor: pointer;
}

.projects h3,
footer h4,
.about-me h2 {
  font-size: 32px;
  font-weight: 400;
  letter-spacing: -1px;
}

.projects h3 {
  text-align: center;
  flex-basis: 100%;
}

footer {
  background-color: #000000;
  padding: 48px 24px 24px 24px;
}

footer * {
  color: #f6f3ec;
}

footer a {
  text-decoration: none;
}

footer p {
  text-align: center;
}

.footer-icon {
  width: 35px;
}

.line {
  height: 1px;
  width: 80%;
  background-color: black;
}
